@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body{
        @apply min-h-screen bg-emerald-900;
    }
    .body-container{
        @apply flex flex-col w-full min-h-[62.5vh] mb-8;
    }
    .container-content{
        @apply h-full w-full flex flex-col items-center gap-2.5 px-6 pt-4;
    }
    nav{
        @apply flex h-28 w-full px-8 py-2 items-center md:px-12; 
    }
    .mobile-nav{
        @apply flex items-center justify-between w-full h-full;
    }
    .box-logo{
        @apply h-20 w-20;
    }
    .logo{
        @apply rounded-full w-full h-full;
    }


    .article-color{
        background-color: #CC8B65;
    }
    .article-bg{
        background-color: #013328;
    }
}

svg#freepik_stories-journey:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-journey.animated #freepik--Character--inject-19 {
    animation: 3s Infinite linear shake;
    animation-delay: 0.5s;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}